<footer class="footer" data-watch data-watch-once>
    <img src="img/icons/bg-footer.svg" alt="" class="footer__bg">
    <img src="img/icons/bg-footer2.svg" alt="" class="footer__bg-mob">
    <div class="container">
        <div class="footer__content">
            <div class="footer-top">
                <a href="./" class="footer-top__logo" data-watch data-watch-once>
                    <img src="img/icons/logo.svg" alt="">
                </a>
                <div class="footer-top__menu" data-watch data-watch-once>
                    <ul>
                        <li>
                            <a href="./" data-goto=".block-intro" data-goto-header>about</a>
                        </li>
                        <li>
                            <a href="./" data-goto=".block-projects" data-goto-header>projects</a>
                        </li>
                        <li>
                            <a href="./" data-goto=".block-descr-top" data-goto-header>news</a>
                        </li>
                        <li>
                            <a href="./" data-goto=".block-descr-bottom" data-goto-header>help us</a>
                        </li>
                        <li>
                            <a href="./" data-goto=".block-forms" data-goto-header>Contacts</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-top__right" data-watch data-watch-once>
                    <a href="./" class="btn btn-transparent"><span>Donate now</span></a>
                </div>
            </div>
            <div class="footer-bottom" data-watch data-watch-once>
                <div class="footer-bottom__text" data-watch data-watch-once>
                    © Eco Clean Ocean 2025 All rights reserved
                </div>
                <a href="./" class="footer-bottom__text" data-watch data-watch-once>
                    Политика конфиденциальности
                </a>
            </div>
        </div>
    </div>
</footer>