<header class="header">
    <div class="container">
        <div class="header__content">
            <a href="./" class="header__logo">
                <img src="img/icons/logo.svg" alt="">
            </a>
            <div class="header__menu">
                <ul>
                    <li>
                        <a href="./">about</a>
                    </li>
                    <li>
                        <a href="./">projects</a>
                    </li>
                    <li>
                        <a href="./">news</a>
                    </li>
                    <li>
                        <a href="./">help us</a>
                    </li>
                    <li>
                        <a href="./">Contacts</a>
                    </li>
                </ul>
            </div>
            <div class="header__right">
                <a href="./" class="btn btn-transparent"><span>Donate now</span></a>
                <button type="button" class="icon-menu"><span></span></button>
            </div>
        </div>
    </div>
</header>